body{
    color:white;
    background-color:#5c5c5c;
    font-family: 'Oxygen', sans-serif;
}
h1{
    font-family: 'Bree Serif', serif;
    font-size:3em;
    margin-top:7px;
    margin-left:15px;
    background: #005691 -webkit-gradient(linear, 100% 0, 0 0, from(#005691), color-stop(0.5,  #4e8cb6), to(#005691));
    background-position: -4rem top; /*50px*/
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-background-size: 4rem 100%; /*50px*/
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 14rem top; /*200px*/
    }

    100% {
        background-position: 16rem top; /*200px*/
    }
}

@-webkit-keyframes shimmer2 {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 24rem top; /*200px*/
    }

    100% {
        background-position: 24rem top; /*200px*/
    }
}

header{
    background-color:#2b2a2a;
    width:105%;
    position:relative;
    top:-10px;
    left:-10px;
}
#periodicContainer{
    touch-action: auto;
    width:330px;
    height:330px;
    overflow: scroll;
    margin:0 auto;
    border:5px solid #2b2a2a;
    background-color:#444343;
}
#periodicGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    row-gap:2px;
    width:1160px;
}
.row1{
  grid-row:1/2;
}
.row2{
  grid-row:2/3;
}
.row3{
  grid-row:3/4;  
}
.row4{
  grid-row:4/5;    
}
.row5{
  grid-row:5/6;    
}
.row6{
  grid-row:6/7;    
}
.row7{
  grid-row:7/8;    
}
.column1{
  grid-column:1/2;
}
.column2{
    grid-column:2/3; 
}
.column3{
    grid-column:3/4;
}
.column4{
    grid-column:4/5;
}
.column5{
    grid-column:5/6;
}
.column6{
    grid-column:6/7;
}
.column7{
    grid-column:7/8;
}
.column8{
    grid-column:8/9;
}
.column9{
    grid-column:9/10;
}
.column10{
    grid-column:10/11;
}
.column11{
    grid-column:11/12;
}
.column12{
    grid-column:12/13;
}
.column13{
    grid-column:13/14;
}
.column14{
    grid-column:14/15;
}
.column15{
    grid-column:15/16;
}
.column16{
    grid-column:16/17;
}
.column17{
    grid-column:17/18;
}
.column18{
    grid-column:18/19;
}
ul li{
    min-width:75px;
    min-height:100px;
    list-style:none;
    border:1px solid white;
    background-image: linear-gradient(
        180deg
        , rgba(106,4,15,1.00) 0%, rgba(55,6,23,1.00) 100%);
    text-align:center;
}
ul li p{
    font-size:11px;
}
.emptyBlock{
    border:none;
    background-image:none;
}
#element31, #element50, #element68, #element87, #element69, #element88, #element106{
    background-image: linear-gradient(
        180deg
        , rgba(255,186,8,1.00) 0%, rgba(250,163,7,1.00) 100%);
}
#element1, #element18, #element32, #element33, #element34, #element35, #element36, #element51, #element52, #element53, 
#element54, #element70, #element71, #element72, #element89, #element90, #element107, #element108, #element125, #element126 {
    background-image: linear-gradient(
        180deg
        , rgba(220,47,2,1.00) 0%, rgba(208,0,0,1.00) 100%);
}

#element5{
    background-image: linear-gradient(
        180deg
        , rgba(106,4,15,1.00) 0%, rgba(55,6,23,1.00) 100%);
        border:1px solid white;
    text-align: center;
}
#element7{
    background-image: linear-gradient(
        180deg
        , rgba(220,47,2,1.00) 0%, rgba(208,0,0,1.00) 100%);
        border:1px solid white;
        text-align: center;
}
#element9{
    background-image: linear-gradient(
        180deg
        , rgba(255,186,8,1.00) 0%, rgba(250,163,7,1.00) 100%);
        border:1px solid white;
        text-align: center;
}
ul li:hover{
    filter: sepia(100%);
}
ul li:active{
    filter: drop-shadow(-2px 2px 20px white);
}
#element5:hover, #element7:hover, #element9:hover{
    filter:none;
}
#element5:active, #element7:active, #element9:active{
    filter:none;
}
ul li h3{
    font-size:14px;
    text-decoration:underline;
    margin-top:40%;
}
footer{
    background-color:#2b2a2a;
    width:105%;
    position:relative;
    top:40px;
    left:-10px;
    min-height:50px;
    text-align:center;
}
footer p{
    position:relative;
    bottom:-10px;
}
#displayBondDiv{
    display:block;
    max-width:300px;
    background-image: linear-gradient(
        180deg
        , rgba(78,140,182,1.00) 0%, rgba(0,86,145,1.00) 100%);
    margin:0 auto;
    padding:25px;
    box-shadow:5px 5px 8px black;
    border-radius:10px;
    margin-top:25px;
}
#elementDiv1, #elementDiv2{
    width:300px;
    height:300px;
    border:solid white 2px;
    text-align:center;
}
#bondDiv{
    width:auto;
}
#bondDiv h4{
    background: -webkit-linear-gradient(#9D0208, #6A040F);
    
}

h4{
    font-size: 3em;
    margin-bottom: 1px;
    margin-top:0;
}

h5{
    font-size: 2em;
    margin-bottom: 3px;
    margin-top: 15px;
}
.elnumber{
    float: right;
    position: relative;
    top: -145px;
    font-size: 25px;
    margin-right: 5px;
}
#elementDiv1 div, #elementDiv2 div{
    height:100%;
    margin:0;
}
#elementDiv1 input, #elementDiv2 input{
    background-color: white;
    border:none;
    border-radius:25px;
    width:25px;
    height:25px;
    float:left;
    margin-left:5px;
    top:-235px;
    position:relative;
    font-weight:bold;
    font-size:15px;
}

#bondDiv h4{
    background:none;
    text-align:center;
    margin-top:20%;
    margin-bottom:20%;
    background: #2b2a2a -webkit-gradient(linear, 100% 0, 0 0, from(#2b2a2a), color-stop(0.5,  #cccccc), to(#2b2a2a));
    color:#2b2a2a;
    background-position: -4rem top; 
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer2;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-background-size: 4rem 100%; 
}


@media only screen and (min-width: 1160px){
    #periodicContainer{
        touch-action: none;
        width:1500px;
        height:auto;
        overflow:auto;
        border:none;
        background-color:#5c5c5c;
        margin-left:auto;
    }
    #displayBondDiv{
        display:flex;
        flex-direction:row;
        max-width:900px;
    }
    header{
        width:100.9%;
    }
    footer{
        width: 105%;
        top:35px;
    }
    footer p{
        bottom: -15px;
    }
    #bondDiv{
        width:50%;
    }
}