body {
  }
  
  button {
    
    color: #05386B;
    margin-top: 2px;
    padding: 10px 20px;
  
    }
  #list_div{
    color:#d3d1d1;
    background-color:#ffb958;
    max-width: 450px;
    margin:0 auto;
    margin-top: 40px;
    min-height:700px;
    position:relative;
    border: lightgrey solid 2px;
  }
  #display_div{
      margin-top:10px;
      background-color:#d3d1d1;
      border:2px solid #db6400;
  }
  #display_footer_div{
      display:flex;
      flex-direction:row;
      max-height:30px;
  }

  #item{
    border: none;
    display: block;
    width: 98%;
    line-height: 1.5;
    padding: 8px 0 8px 10px;
    position:absolute;
    bottom:0;
  }
  #add_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 35px;
    min-width: 35px;
    background-color: white;
    border: none;
    font-size: 23px;
  }
  #item:focus, #add_btn{
      outline:none;
  }
  h1{
    background-color:#db6400;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
    font-size: 40px;
    margin-top:0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 0;
  }
  
  ul li:before {
    content: "\25A1";
    padding: 10px 10px;
    font-size: 20px;
  }
  
  ul li:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  
  .button {
    text-align: center;
  }
  
  .checked {
    color: green;
  }
  
  .checked:before {
    content: "\2713";
    padding: 10px 10px;
    font-size: 20px;
  }
  
  .checked:hover {
    text-decoration: none;
  }
  
  .checked:hover:after {
    content: " (remove)";
    color: red;
    text-align: right;
  }