  body{
    font-family:Arial, Helvetica, sans-serif;
  }
  button {
    color: #05386B;
    margin-top: 2px;
    padding: 10px 20px;
  
    }
  #list_div{
    color:#d3d1d1;
    background-color:#ffb958;
    max-width: 450px;
    margin:0 auto;
    margin-top: 40px;
    min-height:700px;
    position:relative;
    border: lightgrey solid 2px;
  }
  #display_div{
      margin-top:10px;
      background-color:#d3d1d1;
      border:2px solid #db6400;
  }
  #display_footer_div{
      color:black;
      display:flex;
      flex-direction:row;
      max-height:30px;
      justify-content: center;
      align-items:center;
  }
  #display_footer_div input, #counter_p{
      margin-left:15px;
      margin-right:15px;
  }
  #display_footer_div input{
      font-weight:bold;
      background-color:#d3d1d1;
      text-decoration:underline;
      border:none;
  }
  #item{
    border: none;
    display: block;
    width: 98%;
    line-height: 1.5;
    padding: 8px 0 8px 10px;
    position:absolute;
    bottom:0;
  }
  #add_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 35px;
    min-width: 35px;
    background-color: white;
    border: none;
    font-size: 23px;
  }
  #item:focus, #add_btn:focus, #display_footer_div input:focus{
      outline:none;
  }
  #display_footer_div input:active, #add_btn:active{
      color:#db6400;
  }
  h1{
    background-color:#db6400;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
    font-size: 40px;
    margin-top:0;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display:flex;
    flex-direction:row;
    max-height: 40px;
    padding: 8px 0;
    border-bottom: 1px #ffb958 solid;
    font-size: 18px;
    align-items: center;
  }
  .todo-content{
    color:black;
  }
  .complete{
    margin-left: 10px;
    margin-right: 10px;
    max-height: 20px;
  }
  .remove{
      background-color:#d3d1d1;
      font-weight:bold;
      position:absolute;
      right:0;
      border:none;
      margin-right: 10px;
      padding: 5px 0;
      margin-top: 0;
  }
  .remove:focus{
      outline: none;
  }
  .remove:active{
      color:#db6400;
  }
  ul li:before {
    padding: 10px 10px;
    font-size: 20px;
  }
  
  